/*=====
Reset
=====*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    body {
        scroll-behavior: smooth;
        font-family: var(--english-font-family);
    }
}

section {
    overflow: hidden !important;
}

// loading
.v-pulse {
    background-color: var(--blue-color) !important;
}

// Perfect scroll
.ps {
    height: 100vh;
}

// offcanvas
.offcanvas {
    @media (max-width: 992px) {
        width: 300px;
    }
    @media (max-width: 575px) {
        width: 80%;
    }
}