/*=====
Reset
=====*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    body {
        scroll-behavior: smooth;
        font-family: var(--english-font-family);
    }
}

section {
    overflow: hidden !important;
}

// Axios progress bar
#nprogress {
    .bar {
        background-color: var(--blue-color) !important;
    }

    .peg {
        box-shadow: 0 0 10px var(--blue-color), 0 0 5px var(--blue-color) !important;
    }

    .spinner-icon {
        border-top-color: var(--blue-color);
        border-left-color: var(--blue-color);
    }
}

// loading
.v-pulse {
    background-color: var(--blue-color) !important;
}

// offcanvas
.offcanvas {
    @media (max-width: 992px) {
        width: 300px;
    }
    @media (max-width: 575px) {
        width: 80%;
    }
}