/*=====
Variables
=====*/
:root {
    // Font (family, size, weight)
    --english-font-family: 'Poppins', sans-serif;

    // Colors
    --main-color: #f00;
    --blue-color: #4264D0;
    --dark-blue-color: #164db0;
    --secondary-color: #808080;
    --light-color: #b3b3b3;
    --primary-color: #009ef7;
    --dark-color: #2b2b2b;
    --black-color: #010101;
    --white-color: #fff;
    --info-color: #7239ea;
    --success-color: #50cd89;
    --warning-color: #ffc700;
    --danger-color: #f1416c;

    --blue-background: #164DB0;
    --gray-background: #F4F5F9;
}

// vars
$mainFontSize: 16px;
$mainFontWeight: 400;