.app-header {
    padding: 15px 0;
    background-color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a.logo {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;

            img {
                width: 60px;
                height: auto;
            }

            span {
                font-size: $mainFontSize + 4;
                font-weight: $mainFontWeight + 200;
                color: var(--black-color);
                text-transform: uppercase;
            }
        }

        .menu-btn {
            background-color: transparent;
            border: none;

            img {
                width: 40px;
                height: auto;
            }
        }

        .main-menu {
            @media (max-width: 992px) {
                display: flex;
                justify-content: center;
            }

            ul.pages {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 992px) {
                    flex-direction: column;
                    gap: 20px;
                }

                li {
                    padding: 0 15px;
                    
                    a {
                        display: block;
                        width: 100%;
                        color: var(--dark-color);
                        font-size: $mainFontSize - 1;
                        font-weight: $mainFontWeight + 200;
                        letter-spacing: 0.5px;

                        &:hover {
                            color: var(--blue-color);
                        }
                    }
                }
            }
        }

        .shopping {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 30px;

            .wish-list,
            .shopping-cart {
                position: relative;
                color: #333;
                font-size: $mainFontSize + 2;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: var(--blue-color);
                }

                span {
                    position: absolute;
                    background-color: var(--dark-color);
                    color: #fff;
                    top: -8px;
                    left: 50%;
                    padding: 1px 6px;
                    border-radius: 2000px;
                    font-size: $mainFontSize - 6;
                    font-weight: $mainFontWeight - 100;
                }
            }
        }
    }
}

// Sticky header
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    animation: stickyHeader 0.5s;
    @keyframes stickyHeader {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}